body{
    margin: 0;
    background-color: #B9B8B6  ;
}


#container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow-y: hidden;
}

#firstPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#secondPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    margin-top: 100px;
    height: 100px;
    margin-bottom: 100px;
}

#cigarets{
    width: 170px;
    height: 300px;
    background-image: url("../media/rave\ \(7\)\ 2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#container_for_cig_and_btn{
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container_for_btn{
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 70px;
    height: 30px;
    border-top: 2px solid rgb(207, 207, 207);
    border-left: 2px solid rgb(207, 207, 207);
    background-color: #e1e1e1;
    border-radius: 0;
    font-size: 18px;
}


#windows_container{
    width: 350px;
    height: 400px;
    background-color: #B9B8B6;
    border-top: 2px solid rgb(207, 207, 207);
    border-left: 2px solid rgb(207, 207, 207);
    border-right: 2px solid rgb(137, 137, 137);
    border-bottom: 2px solid rgb(137, 137, 137);
}

#top_blue_border{
    width: 100%;
    height: 25px;
    background-color:blue ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rubrik{
    padding: 5px;
    color: white;
}

#icon{
    width: 22px;
    height: 20px;
    background-image: url("../media/smiley\ box.png");
    background-position: center;
    background-size: cover;
    margin: 5px;
}
#pictures_container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#picture{
    width: 250px;
    height: 200px;
    background-image: url("../media/Group\ 4.png");
    background-position: center;
    background-size: cover;


}

#arrows{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    
}

#back_arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 25px;
    font-size: 25px;


    background-color: #B9B8B6;
    border-top: 2px solid rgb(207, 207, 207);
    border-left: 2px solid rgb(207, 207, 207);
    border-right: 2px solid rgb(137, 137, 137);
    border-bottom: 2px solid rgb(137, 137, 137);
}

#next_arrow{
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 50px;
    height: 25px;
    font-size: 25px;

    background-color: #B9B8B6;
    border-top: 2px solid rgb(207, 207, 207);
    border-left: 2px solid rgb(207, 207, 207);
    border-right: 2px solid rgb(137, 137, 137);
    border-bottom: 2px solid rgb(137, 137, 137);
}